html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Arsenal', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
 
    
}


#navBar {
  position: fixed;
   top: 0;
   width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0,100);
    z-index: 200;
  }

  .logoheader {
      color: white;
      letter-spacing: 3.5px;
      margin-left: 25px;
  }
  .navtext {
    color: white;
    letter-spacing: 2.5px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
     }

     .navtext a {
      color: white;
      letter-spacing: 2.5px;
      text-decoration: none;
padding-left: 40%;
padding-right: 40%;
padding-top: 25px;
padding-bottom: 25px;
     }
     
  #navBar h1 {
    width: 100%;
    font-weight: bold;
  }
  #navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    margin-top: 82px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: #0B0B0B;
    z-index: 300;
  }
  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }
 
  .hamburger{
    opacity: 100;
    display: flex;
    flex-direction: column;
    padding: 28px;
    padding-top: 28px;
    cursor: pointer;
    position: relative; 
  justify-content: center;
   align-items: center;
   width: 35px;
   height: 25px;
 border-radius: 5px;
transition: all .5s ease-in-out;
  
  
  }
  
  .hamburgerbutton{
    opacity: 100;
    margin: 4px;
    width: 35px;
height: 5px;
background: white;
border-radius: 5px;
transition: all .5s ease-in-out;  
}

.hamburgerbutton::before,
.hamburgerbutton::after {
  content:'';
  position:absolute;
  width: 35px;
height: 5px;
background: white;
border-radius: 5px;
transition: all .5s ease-in-out;
}

.hamburgerbutton::before{
  transform: translateY(-12px);
}

.hamburgerbutton::after{
  transform: translateY(12px);
}

.hamburger.open .hamburgerbutton {
  
  background: transparent;
}

.hamburger.open .hamburgerbutton::before {
  transform: rotate(45deg);
}

.hamburger.open .hamburgerbutton::after {
  transform: rotate(-45deg);
}
 
#navigation.open{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  height: 400px;
  width: 100%;
  top: 0px;
  margin-top: 82px;
  transform: translateX(0%);
  background-color: #0B0B0B;
  z-index: 300;
} 


.button {
  background-color: black;
  transition-duration: 0.4;
  color:white;
  max-width: 300px;
  min-width: 300px;
  max-height: 100px;
  min-height: 100px;
font-size: 24px;
font-family: arsenal;
letter-spacing: 3px;
font-weight: 550;
cursor: pointer;
border-radius: 15px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {background-color: blueviolet;}

.footeroverlay{
  bottom: 0;
  position:static;
  position: 100vh;
  width: 100%;
  height: 200px;
 margin-left: auto;
 margin-right: auto;
 justify-content: center;
  margin-top: auto;
}


.footerimage{
 width:100%;
 height: auto;

} 

#footercontenttext {
  color: white;
font-family: 'arsenal' 'san-serif';
letter-spacing: 3px;
font-size: 20px ;
font-weight: bold;
margin-top: -14.25%;
position: relative;
text-align: center;
}


@media only screen and (max-width: 1000px) {
  .hamburger{
    opacity: 100;
      display: flex;
      flex-direction: column;
      padding: 28px;
      padding-top: 28px;
      cursor: pointer;
      position: relative; 
    justify-content: center;
     align-items: center;
     width: 35px;
     height: 25px;
   border-radius: 5px;
  }
  #navigation.open{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    top: 0px;
    margin-top: 82px;
    transform: translateX(0%);
    background-color: #0B0B0B;
    z-index: 300;
  } 

  .hamburgerbutton{
    opacity: 100;
      margin: 4px;
      width: 35px;
height: 5px;
background: white;
border-radius: 5px;
  }

  #navigation{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    margin-top: 82px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: #0B0B0B;
    z-index: 300;
} 
  
  .navtext a {
  color: white;
  letter-spacing: 2.5px;
  text-decoration: none;
padding-left: 200px;
padding-right: 200px;
padding-top: 25px;
padding-bottom: 25px;
 }
  
}


@media only screen and (max-width: 800px) {


  #navBar {
    position: fixed;
     top: 0;
     width: 100%;
     height: 140px;
    display: flex;
      flex-direction: row;
      background-color: rgba(0, 0, 0,100);
      z-index: 200;
    }


    .logoheader {
      color: white;
      letter-spacing: 3.5px;
      font-size: 45px;
      margin-left: 25px;
  }

  .navtext {
    color: white;
    letter-spacing: 3px;
    font-size: 18px;
    
   }

   .navtext a {
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
   }

  .hamburger{
    opacity: 100;
    margin-top: -10px;
      display: flex;
      flex-direction: column;
    cursor: pointer;
      position: relative; 
    justify-content: center;
     align-items: center;
     width: 100px;
     height: 80px;
   border-radius: 5px;
  
  }

  .hamburgerbutton{
    opacity: 100;
 width: 50px;
height: 7px;
background: white;
border-radius: 5px;


  }


  .hamburgerbutton::before,
  .hamburgerbutton::after {
    content:'';
    position:absolute;
  width: 50px;
  height: 7px;
  background: white;
  border-radius: 5px;
  transition: all .5s ease-in-out;
  }
  
  .hamburgerbutton::before{
    transform: translateY(-16px);
  }
  
  .hamburgerbutton::after{
    transform: translateY(16px);
  }
  

  #navigation{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    margin-top: 82px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: #0B0B0B;
    z-index: 300;
} 

#navigation.open{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  height: 45vh;
  width: 100%;
  top: 0px;
  margin-top: 82px;
  transform: translateX(0%);
  background-color: #0B0B0B;
  z-index: 300;
} 



  .button {
    background-color: black;
    transition-duration: 0.4;
    color:white;
    max-width: 200px;
    min-width: 200px;
    max-height: 80px;
    min-height: 80px;
  font-size: 20px;
  font-family: arsenal;
  letter-spacing: 3px;
  font-weight: 550;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  

  .button a {
    color:white;
  font-size: 20px;
  font-family: arsenal;
  letter-spacing: 3px;
  font-weight: 550;
        text-decoration: none;
  }
  
  .footeroverlay{
    bottom: 0;
    position:static;
    position: 100vh;
    width: 100%;
    height: 100%;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
  }
  
  
  .footerimage{
   width:100%;
   height: 100%;
  object-fit: cover;
  } 
  
  #footercontenttext {
    color: white;
  font-family: 'arsenal' 'san-serif';
  letter-spacing: 3px;
  font-size: 20px ;
  font-weight: bold;
  margin-top: -16%;
  position: relative;
  text-align: center;
  }
  
}


@media only screen and (max-width: 675px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 42px;
    margin-left: 25px;
}


}

@media only screen and (max-width: 644px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 40px;
    margin-left: 25px;
}


}


@media only screen and (max-width: 623px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 36px;
    margin-left: 25px;
}

}



@media only screen and (max-width: 582px) {

#navigation.open{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  height: 400px;
  width: 100%;
  top: 0px;
  margin-top: 120px;
  transform: translateX(0%);
  background-color: #0B0B0B;
  z-index: 300;
} 

}





@media only screen and (max-width: 480px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 36px;
    margin-left: 25px;
}

.bodytext {font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-weight: 550;
  }
  
  

.button {
  margin-top: 70px;
  background-color: black;
  transition-duration: 0.4;
  color:white;
  max-width: 170px;
  min-width: 170px;
  max-height: 80px;
  min-height: 80px;
font-size: 20px;
font-family: arsenal;
letter-spacing: 3px;
font-weight: 550;
cursor: pointer;
border-radius: 15px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button a {
  color:white;
font-size: 20px;
font-family: arsenal;
letter-spacing: 3px;
font-weight: 550;
      text-decoration: none;
}


}


@media only screen and (max-width: 401px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 30px;
    margin-left: 25px;
  }



  .navtext a {
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
   }


}  





@media only screen and (max-width: 362px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 28px;
    margin-left: 25px;
  }


 
.button {
  margin-top: 70px;
  background-color: black;
  transition-duration: 0.4;
  color:white;
  max-width: 120px;
  min-width: 120px;
  max-height: 60px;
  min-height: 60px;
font-size: 11.48px;
font-family: arsenal;
letter-spacing: 3px;
font-weight: 550;
cursor: pointer;
border-radius: 15px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button a {
  color:white;
font-size: 11.48px;
font-family: arsenal;
letter-spacing: 3px;
font-weight: 550;
      text-decoration: none;
}





}






#fcf-form {
  display:block;
}

.fcf-body {
  margin-top: 100px;
 
  font-family: -apple-system, Arsenal, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}

