body {
    margin: 0;
    padding: 0;
    font-family: 'Arsenal', sans-serif;
    
      
}



.Prototype{
margin-top: 200px;
margin-bottom: 0;
display: flex;
text-align:  center;
position: static;
width: auto;
height: fit-content;
justify-content: center;
}

.Prototype2{
margin-top: 0px;
margin-bottom: 0;
display: flex;
text-align:  center;
position: static;
width: auto;
height: fit-content;
justify-content: center;
}

.imagebox {
height: 100%;
width: 100%;
object-fit: contain;



}




#navBar {
  position: fixed;
   top: 0;
   width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0,100);
    z-index: 200;
  }

  .logoheader {
      color: white;
      letter-spacing: 3.5px;
      margin-left: 25px;
  }
  .navtext {
      color: white;
      letter-spacing: 3px;
      
     }

     .navtext a {
      color: white;
      letter-spacing: 3px;
      text-decoration: none;
     }
     
  #navBar h1 {
    width: 100%;
    font-weight: bold;
  }
  #navigation {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
  }
  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }

  .hamburger{
    opacity: 0;
   position: relative; 
   display: flex;
   justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
border-radius: 5px;
transition: all .5s ease-in-out;
  
  }
  
  .hamburgerbutton{
    opacity: 0;
    width: 35px;
height: 5px;
background: white;
border-radius: 5px;
transition: all .5s ease-in-out;  
}

.hamburgerbutton::before,
.hamburgerbutton::after {
  content:'';
  position:absolute;
  width: 35px;
height: 5px;
background: white;
border-radius: 5px;
transition: all .5s ease-in-out;
}

.hamburgerbutton::before{
  transform: translateY(-12px);
}

.hamburgerbutton::after{
  transform: translateY(12px);
}

.hamburger.open .hamburgerbutton {
  
  background: transparent;
}

.hamburger.open .hamburgerbutton::before {
  transform: rotate(45deg);
}

.hamburger.open .hamburgerbutton::after {
  transform: rotate(-45deg);
}
 


@media only screen and (max-width: 1000px) {
  .hamburger{
    opacity: 100;
      display: flex;
      flex-direction: column;
      padding: 28px;
      padding-top: 28px;
      cursor: pointer;
      position: relative; 
    justify-content: center;
     align-items: center;
     width: 35px;
     height: 25px;
   border-radius: 5px;
  }
  #navigation.open{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    top: 0px;
    margin-top: 82px;
    transform: translateX(0%);
    background-color: #0B0B0B;
    z-index: 300;
  } 

  .hamburgerbutton{
    opacity: 100;
      margin: 4px;
      width: 35px;
height: 5px;
background: white;
border-radius: 5px;
  }

  #navigation{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    margin-top: 82px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: #0B0B0B;
    z-index: 300;
} 
}



  #casestudies {
    position:static;
    display: grid;
    margin-left: 25px;
    margin-right: 25px;
    min-height: 900px;
    max-height: 900px;
    grid-template-rows: 90% 10%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "casestudiesimage casestudiesimage" 
      "casestudiesbutton casestudiesbutton2"
    }
 
    #casestudies2 {
      position:static;
      display: grid;
      margin-left: 25px;
      margin-right: 25px;
      min-height: 900px;
      max-height: 900px;
      grid-template-rows: 90% 10%;
      grid-template-columns: 50% 50%;
      grid-template-areas:
        "casestudiesimage2 casestudiesimage2" 
        "casestudiesbutton casestudiesbutton2"
      }
   
      #casestudies3 {
        position:static;
        display: grid;
        margin-left: 25px;
        margin-right: 25px;
        min-height: 900px;
        max-height: 900px;
        margin-bottom: 150px;
        grid-template-rows: 90% 10%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
          "casestudiesimage3 casestudiesimage3" 
          "casestudiesbutton casestudiesbutton2"
        }
     
  #casestudiesbutton {
  grid-area: casestudiesbutton;
  position: relative;

margin-top: -130px;
justify-content: center;
  
 }

 #casestudiesbutton2 {
  grid-area: casestudiesbutton2;
  position: relative;
 
margin-top: -130px;
justify-content: center;
  
 }

 #casestudiesimage {
grid-area: casestudiesimage;
  background-image: url(images/GD_2021_Gov_CaseStudy.png
  );

  }

  #casestudiesimage2 {
    grid-area: casestudiesimage2;
      background-image: url(images/GD_2021_Cook_Casestudy.png
      );
    
      }

      #casestudiesimage3 {
        grid-area: casestudiesimage3;
          background-image: url(images/GD_2021_Mentor_CaseStudy.png
          );
       
          }

 .casestudiesGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  display: flex;
  position: relative;
}

.button {
  background-color: black;
  transition-duration: 0.4;
  color:white;
  max-width: 300px;
  min-width: 300px;
  max-height: 100px;
  min-height: 100px;
font-size: 24px;
font-family: arsenal;
letter-spacing: 3px;
font-weight: 550;
cursor: pointer;
border-radius: 15px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {background-color: #57337a;}

.button a {
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
}
 
#footer {

  width: auto;
  position:static;
  position: 100%;
  display: grid;
  min-height: 300px;
  max-height: 300px;
  grid-template-rows: 100%;
 grid-template-columns: 100%;
grid-template-areas:
"footerImage" ;
 
}



#footerImage {

  grid-area: footerImage;
  background-image: url(images/footer.png
  );
position: relative;
justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  width: auto;
background-size: cover;

  }

 .footerGridArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
   position: relative;
  }


  #footercontenttext {
  
    color: white;
    font-family: 'arsenal' 'san-serif';
  letter-spacing: 3px;
  font-size: 20px ;
  font-weight: bold;
  margin-top: -25px;


  }


  

  @media only screen and (max-width: 1000px) {

#casestudies {
  margin-top: 0px;
  position:static;
  display: grid;
  margin-left: 25px;
  margin-right: 25px;
  min-height: 900px;
  max-height: 900px;
  grid-template-rows: 80% 10% 10%;
  grid-template-columns: 100%;
  grid-template-areas:
    "casestudiesimage" 
    "casestudiesbutton" 
    "casestudiesbutton2"
  }

  #casestudies2 {
    margin-top: 0px;
    position:static;
    display: grid;
    margin-left: 25px;
    margin-right: 25px;
    min-height: 900px;
    max-height: 900px;
    grid-template-rows: 80% 10% 10%;
    grid-template-columns: 100%;
    grid-template-areas:
      "casestudiesimage2" 
      "casestudiesbutton" 
      "casestudiesbutton2"
    }
 
    #casestudies3 {
      margin-top:  0px;
      position:static;
      display: grid;
      margin-left: 25px;
      margin-right: 25px;
      min-height: 900px;
      max-height: 900px;
      margin-bottom: 150px;
      grid-template-rows: 80% 10% 10%;
      grid-template-columns: 100%;
      grid-template-areas:
        "casestudiesimage3" 
        "casestudiesbutton" 
        "casestudiesbutton2"
      }

      #casestudiesbutton2 {
        grid-area: casestudiesbutton2;
        position: relative;
       
      margin-top: 100px;
      justify-content: center;
        
       }

    }



    @media only screen and (min-width: 1300px) { 
      
      #casestudiesbutton {
    margin-top: 150px;
    margin-bottom: 150px;
   
      
     } 
      #casestudiesbutton2 {
        margin-top: 150px;
        margin-bottom: 150px;
       
      
     }

     #casestudiesimage {
      background-size:contain;
    margin-top: 100px;
        }
      
        #casestudiesimage2 {
          background-size:contain;
          margin-top: 200px;
          
            }
      
            #casestudiesimage3 {
             background-size:contain;
             margin-top: 200px;
             
                }
#footer {
  margin-top: 300px;
}
      
    }
