html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Arsenal', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
 
    
}

#navBar {
  position: fixed;
   top: 0;
   width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0,100);
    z-index: 200;
  }

  .logoheader {
      color: white;
      letter-spacing: 3.5px;
      margin-left: 25px;
  }
  .navtext {
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
     }

     .navtext a {
      color: white;
      letter-spacing: 3px;
      text-decoration: none;
padding-left: 40%;
padding-right: 40%;
padding-top: 25px;
padding-bottom: 25px;
     }
     
  #navBar h1 {
    width: 100%;
    font-weight: bold;
  }
  #navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    margin-top: 82px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: #0B0B0B;
    z-index: 300;
  }
  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }

  .hamburger{
    opacity: 100;
    display: flex;
    flex-direction: column;
    padding: 28px;
    padding-top: 28px;
    cursor: pointer;
    position: relative; 
  justify-content: center;
   align-items: center;
   width: 35px;
   height: 25px;
 border-radius: 5px;
transition: all .5s ease-in-out;
  
  }
  
  .hamburgerbutton{
    opacity: 100;
    margin: 4px;
    width: 35px;
height: 5px;
background: white;
border-radius: 5px;
transition: all .5s ease-in-out;  
}

.hamburgerbutton::before,
.hamburgerbutton::after {
  content:'';
  position:absolute;
  width: 35px;
height: 5px;
background: white;
border-radius: 5px;
transition: all .5s ease-in-out;
}

.hamburgerbutton::before{
  transform: translateY(-12px);
}

.hamburgerbutton::after{
  transform: translateY(12px);
}

.hamburger.open .hamburgerbutton {
  
  background: transparent;
}

.hamburger.open .hamburgerbutton::before {
  transform: rotate(45deg);
}

.hamburger.open .hamburgerbutton::after {
  transform: rotate(-45deg);
}
 

#navigation.open{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  height: 400px;
  width: 100%;
  top: 0px;
  margin-top: 82px;
  transform: translateX(0%);
  background-color: #0B0B0B;
  z-index: 300;
} 


.Prototype{
  margin-top: 200px;
  margin-bottom: 0;
  display: flex;
  text-align:  center;
  position: static;
  width: auto;
  height: fit-content;
  justify-content: center;
  }
  
  .Prototype2{
  margin-top: 0px;
  margin-bottom: 0;
  display: flex;
  text-align:  center;
  position: static;
  width: auto;
  height: fit-content;
  justify-content: center;
  }
  
  .imagebox {
  height: 95%;
  width: 95%;
  object-fit: contain;
  
}
  
  

  #casestudies {
    position:static;
    display: grid;
    margin-left: 25px;
    margin-right: 25px;
  margin-top: -100px;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
     "casestudiesbutton casestudiesbutton2"
    }
 
    
     
  #casestudiesbutton {
  grid-area: casestudiesbutton;
  position: relative;

margin-top: 0px;
justify-content: center;
  
 }

 #casestudiesbutton2 {
  grid-area: casestudiesbutton2;
  position: relative;
 
margin-top: 0px;
justify-content: center;
  
 }

 .casestudiesGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  display: flex;
  position: relative;
}

.button {
  background-color: black;
  transition-duration: 0.4;
  color:white;
  max-width: 300px;
  min-width: 300px;
  max-height: 100px;
  min-height: 100px;
font-size: 24px;
font-family: arsenal;
letter-spacing: 3px;
font-weight: 550;
cursor: pointer;
border-radius: 15px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {background-color: #57337a;}

.button a {
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
}
 

.footeroverlay{
    position: relative;
    width: 100%;
    height: 200px;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
  }


 .footerimage{
   width:100%;
   height: auto;

 } 

#footercontenttext {
    color: white;
  font-family: 'arsenal' 'san-serif';
letter-spacing: 3px;
font-size: 20px ;
font-weight: bold;
margin-top: -14.25%;
position: relative;
text-align: center;

}



@media only screen and (min-width: 1300px) { 
      
  #casestudiesbutton {
margin-top: 150px;
margin-bottom: 150px;

  
 } 
  #casestudiesbutton2 {
    margin-top: 150px;
    margin-bottom: 150px;
   
  
 }

}

@media only screen and (max-width: 1300px) { 
  
#casestudiesbutton {
margin-top: 150px;
margin-bottom: 150px;


} 
#casestudiesbutton2 {
margin-top: 150px;
margin-bottom: 150px;


}

}






@media only screen and (max-width: 1000px) {
  .hamburger{
    opacity: 100;
      display: flex;
      flex-direction: column;
      padding: 28px;
      padding-top: 28px;
      cursor: pointer;
      position: relative; 
    justify-content: center;
     align-items: center;
     width: 35px;
     height: 25px;
   border-radius: 5px;
  }
  #navigation.open{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    top: 0px;
    margin-top: 82px;
    transform: translateX(0%);
    background-color: #0B0B0B;
    z-index: 300;
  } 

  .hamburgerbutton{
    opacity: 100;
      margin: 4px;
      width: 35px;
height: 5px;
background: white;
border-radius: 5px;
  }

  #navigation{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    margin-top: 82px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: #0B0B0B;
    z-index: 300;
} 



#casestudies {
  margin-top: 0px;
  margin-bottom: 100px;
  position:static;
  display: grid;
  margin-left: 25px;
  margin-right: 25px;
  min-height: 400px;
  max-height: 400px;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    
    "casestudiesbutton  casestudiesbutton2" 
  }

  
  .navtext a {
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
   }



}




@media only screen and (max-width: 800px) {


  #navBar {
    position: fixed;
     top: 0;
     width: 100%;
     height: 140px;
    display: flex;
      flex-direction: row;
      background-color: rgba(0, 0, 0,100);
      z-index: 200;
    }


    .logoheader {
      color: white;
      letter-spacing: 3.5px;
      font-size: 45px;
      margin-left: 25px;
  }

  .navtext {
    color: white;
    letter-spacing: 3px;
    font-size: 18px;
    
   }

   .navtext a {
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
   }

  .hamburger{
    opacity: 100;
    margin-top: -10px;
      display: flex;
      flex-direction: column;
    cursor: pointer;
      position: relative; 
    justify-content: center;
     align-items: center;
     width: 100px;
     height: 80px;
   border-radius: 5px;
  
  }

  .hamburgerbutton{
    opacity: 100;
 width: 50px;
height: 7px;
background: white;
border-radius: 5px;


  }


  .hamburgerbutton::before,
  .hamburgerbutton::after {
    content:'';
    position:absolute;
  width: 50px;
  height: 7px;
  background: white;
  border-radius: 5px;
  transition: all .5s ease-in-out;
  }
  
  .hamburgerbutton::before{
    transform: translateY(-16px);
  }
  
  .hamburgerbutton::after{
    transform: translateY(16px);
  }
  

  #navigation{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    margin-top: 82px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: #0B0B0B;
    z-index: 300;
} 

#navigation.open{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  height: 45vh;
  width: 100%;
  top: 0px;
  margin-top: 82px;
  transform: translateX(0%);
  background-color: #0B0B0B;
  z-index: 300;
} 

#casestudies {
  margin-top: -100px;
  margin-bottom: 50px;
  position:static;
  display: grid;
  margin-left: 25px;
  margin-right: 25px;
  min-height: 400px;
  max-height: 400px;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    
    "casestudiesbutton  casestudiesbutton2" 
  }


  .button {
    background-color: black;
    transition-duration: 0.4;
    color:white;
    max-width: 200px;
    min-width: 200px;
    max-height: 80px;
    min-height: 80px;
  font-size: 20px;
  font-family: arsenal;
  letter-spacing: 3px;
  font-weight: 550;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  

  .button a {
    color:white;
  font-size: 20px;
  font-family: arsenal;
  letter-spacing: 3px;
  font-weight: 550;
        text-decoration: none;
  }
  
  .footeroverlay{
    bottom: 0;
    position:static;
    position: 100vh;
    width: 100%;
    height: 100%;
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
  }
  
  
  .footerimage{
   width:100%;
   height: 100%;
  object-fit: cover;
  } 
  
  #footercontenttext {
    color: white;
  font-family: 'arsenal' 'san-serif';
  letter-spacing: 3px;
  font-size: 20px ;
  font-weight: bold;
  margin-top: -16%;
  position: relative;
  text-align: center;
  }
  

}


@media only screen and (max-width: 675px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 42px;
    margin-left: 25px;
}


}

@media only screen and (max-width: 644px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 40px;
    margin-left: 25px;
}


}


@media only screen and (max-width: 623px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 36px;
    margin-left: 25px;
}

}



@media only screen and (max-width: 582px) {

#navigation.open{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  height: 400px;
  width: 100%;
  top: 0px;
  margin-top: 120px;
  transform: translateX(0%);
  background-color: #0B0B0B;
  z-index: 300;
} 

}





@media only screen and (max-width: 480px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 36px;
    margin-left: 25px;
}

.bodytext {font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-weight: 550;
  }
  
  


  #casestudies {
    margin-top: -120px;
    margin-bottom: 50px;
    position:static;
    display: grid;
    margin-left: 25px;
    margin-right: 25px;
    min-height: 400px;
    max-height: 400px;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      
      "casestudiesbutton  casestudiesbutton2" 
    }
  

    #casestudiesbutton {
      margin-top: 150px;
      margin-bottom: 150px;
      margin-right: 25px;
      
      } 
      #casestudiesbutton2 {
      margin-top: 150px;
      margin-bottom: 150px;
      margin-left: 25px;
      
      }
      

.button {
  margin-top: 70px;
  background-color: black;
  transition-duration: 0.4;
  color:white;
  max-width: 170px;
  min-width: 170px;
  max-height: 80px;
  min-height: 80px;
font-size: 20px;
font-family: arsenal;
letter-spacing: 3px;
font-weight: 550;
cursor: pointer;
border-radius: 15px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button a {
  color:white;
font-size: 20px;
font-family: arsenal;
letter-spacing: 3px;
font-weight: 550;
      text-decoration: none;
}


}


@media only screen and (max-width: 401px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 30px;
    margin-left: 25px;
  }



  .navtext a {
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
   }


}  





@media only screen and (max-width: 362px) {

  .logoheader {
    color: white;
    letter-spacing: 3.5px;
    font-size: 28px;
    margin-left: 25px;
  }


  #casestudies {
    margin-top: -120px;
    margin-bottom: 30px;
    position:static;
    display: grid;
    margin-left: 25px;
    margin-right: 25px;
    min-height: 400px;
    max-height: 400px;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      
      "casestudiesbutton  casestudiesbutton2" 
    }
  

    

.button {
  margin-top: 70px;
  background-color: black;
  transition-duration: 0.4;
  color:white;
  max-width: 120px;
  min-width: 120px;
  max-height: 60px;
  min-height: 60px;
font-size: 11.48px;
font-family: arsenal;
letter-spacing: 3px;
font-weight: 550;
cursor: pointer;
border-radius: 15px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button a {
  color:white;
font-size: 11.48px;
font-family: arsenal;
letter-spacing: 3px;
font-weight: 550;
      text-decoration: none;
}




  #casestudiesbutton {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 25px;
    
    } 
    #casestudiesbutton2 {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 25px;
    
    }
    


}

