#categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 20px;
  grid-template-areas:
    "Project1 Project2 Project3"
    "Project1 Project2 Project3"
 ;
}

  
  #Project1 {
    grid-area: Project1;
    background-image: url("Images/HomeProjectImages3-01.png")
    ;
  
  }
  #Project2 {
    grid-area: Project2;
    background-image: url("Images/HomeProjectImages1-01.png")
    ;
  }
  
  #Project3 {
    grid-area: Project3;
    background-image: url("Images/HomeProjectImages2-01.png")
    ;
  }
  
  .categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }


 #introduction {
    margin-top: 100px;
    position:static;
    display: grid;
    min-height: 900px;
    max-height: 900px;
    grid-template-rows: 100%;
   grid-template-columns: 100%;
    grid-template-areas:
 "introImage"
   }


  #introImage {
      grid-area: introImage;
    background-image: url(Images/GD_2021_Intro_Graphic_fix2.png);
   }

    .introGridArea {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      align-items: center;
      display: flex;
      position: relative;
    }



    #boxsection {
      column-gap: 10px;
    margin-top: -150px;
      position:static;
      display:grid;
     height: 800px;
      width: auto;
     margin-left: 25px;
      margin-right: 25px;
      justify-content: center;
      grid-template-rows: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
      "box1 box2 box3 box4 box5" 
       
      
    }


    .boxGridArea{
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      align-items: center;
      display: flex;
      position: relative;
    }
    
    
    #box1 {
      grid-area: box1;
      background-image: url(Images/GD_2021_Inspiration_1.png
      );
      background-size: contain;
      position: relative;
    }
    
    #box2 {
      grid-area: box2;
      background-image: url(Images/GD_2021_Inspiration_2.png
      );
      background-size: contain;
      position: relative;
    
    }
            
    #box3 {
      grid-area: box3;
      background-image: url(Images/GD_2021_Inspiration_3.png
      );
      background-size: contain;
      position: relative;
    }
                
    #box4 {
      grid-area: box4;
      background-image: url(Images/GD_2021_Inspiration_4.png
      );
      background-size: contain;
      position: relative;
    }
                
    #box5 {
      grid-area: box5;
      background-image: url(Images/GD_2021_Inspiration_5.png
      );
      background-size: contain;
      position: relative;
    }
                    

    #casestudiesimage {
      grid-area: casestudiesimage;
        background-image: url(Images/GD_2021_CaseStudies_Home.png
        );
      
        }
      
      
       .casestudiesGridArea {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;
        display: flex;
        position: relative;
      }
      
      #casestudies {
      position:static;
      display: grid;
      min-height: 900px;
      max-height: 900px;
      margin-left: 25px;
      margin-right: 25px;
      grid-template-rows: 90% 10%;
      grid-template-columns: 100%;
      grid-template-areas:
        "casestudiesimage" 
        "casestudiesbutton"
      }
      
      #inspiration2ImageSection {
        margin-top: 270px;
        margin-left: 25px;
        margin-right: 25px;
        position:static;
        width: auto;
        display: grid;
      min-height: 600px;
      max-height: 600px;
        grid-template-rows: 100%;
       grid-template-columns: 100%;
        grid-template-areas:
        "inspiration2Image"
      
      }

#inspiration2Image {
  position: relative;
    grid-area: inspiration2Image;
    background-image: url(Images/GD_2021_Armature.png
    );
    background-size: contain;
  width: auto;
    height:auto;
    padding: 50px;
    }
  
    
  
  
    .inspiration2ImageGridArea
  {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      display: flex;
      position: relative;
    }
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Arsenal', sans-serif;
    }

#navBar {
  position: fixed;
   top: 0;
   width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0,100);
    z-index: 200;
  }

  .logoheader {
      color: white;
      letter-spacing: 3.5px;
      margin-left: 25px;
  }
  .navtext {
      color: white;
      letter-spacing: 3px;
      }

     .navtext a {
      color: white;
      letter-spacing: 3px;
      text-decoration: none;
}

  #navBar h1 {
    width: 100%;
    font-weight: bold;
  }

  #navigation {
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
  }
  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }


  .hamburger{
    opacity: 0;
   position: relative; 
   display: flex;
   justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
border-radius: 5px;
transition: all .5s ease-in-out;
  
  }
  
  .hamburgerbutton{
    opacity: 0;
    width: 35px;
height: 5px;
background: white;
border-radius: 5px;
transition: all .5s ease-in-out;  
}

.hamburgerbutton::before,
.hamburgerbutton::after {
  content:'';
  position:absolute;
  width: 35px;
height: 5px;
background: white;
border-radius: 5px;
transition: all .5s ease-in-out;
}

.hamburgerbutton::before{
  transform: translateY(-12px);
}

.hamburgerbutton::after{
  transform: translateY(12px);
}

.hamburger.open .hamburgerbutton {
  
  background: transparent;
}

.hamburger.open .hamburgerbutton::before {
  transform: rotate(45deg);
}

.hamburger.open .hamburgerbutton::after {
  transform: rotate(-45deg);
}
 


@media only screen and (max-width: 1000px) {
  .hamburger{
    opacity: 100;
      display: flex;
      flex-direction: column;
      padding: 28px;
      padding-top: 28px;
      cursor: pointer;
      position: relative; 
    justify-content: center;
     align-items: center;
     width: 35px;
     height: 25px;
   border-radius: 5px;
  }
  #navigation.open{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    top: 0px;
    margin-top: 82px;
    transform: translateX(0%);
    background-color: #0B0B0B;
    z-index: 300;
  } 

  .hamburgerbutton{
    opacity: 100;
      margin: 4px;
      width: 35px;
height: 5px;
background: white;
border-radius: 5px;
  }

  #navigation{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    height: 400px;
    width: 100%;
    margin-top: 82px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: #0B0B0B;
    z-index: 300;
} 
}
